<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="screen.css">
    <meta charset="utf-8" lang="en">
    <title>Todo's!</title>
  </head>

  <body>
    <h1>Todo's</h1>
    <form action="/addTodo" method="post">
      <input type="text" name="description" value="" placeholder="Add a TODO!">
      <button type="submit">Add</button>
    </form>
    <p>Uncompleted Task</p>
    <ul>
      {{#uncompleted}}
        <li>
          <form class="" action="/markComplete" method="post">
            <label for="id" >{{.}}</label>
            <button type="submit" name="description" value="{{.}}">Check</button>
          </form>
        </li>
      {{/uncompleted}}
    </ul>
    <p>Completed Tasks</p>
    <ul>
      {{#completed}}
        <li>
          <span>{{.}}</span>
        </li>
      {{/completed}}
    </ul>
  </body>

</html>
