<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="screen.css">
    <meta charset="utf-8" lang="en">
    <title>Todo's!</title>
  </head>

  <body>
    <div class="listWrapper">
      <div class="listContainer">

        <h1>Todo's</h1>
        <form action="/addTodo" method="post">
          <input type="text" name="description" value="" placeholder="Add a TODO!">
          <button type="submit">Add</button>
        </form>

        {{#anyItem}}
          <p>Uncompleted Task</p>
          <ul>
            {{#uncompleted}}
              <li>
                <form class="" action="/markComplete" method="post">
                  <label for="id"></label>
                  <button type="submit" name="id" value="{{id}}">Check</button> {{description}}
                </form>
              </li>
            {{/uncompleted}}
          </ul>

          <p>Completed Tasks</p>
          <ul>
            {{#completed}}
              <li>
                <span>{{description}}</span>
              </li>
            {{/completed}}
          </ul>
        {{/anyItem}}
        {{^anyItem}}
        <h2>What needs to be done?</h2>
        <h3>Add to the Todo List above ^.^</h3>
        {{/anyItem}}
      </div>
    </div>
  </body>

</html>
