<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="screen.css">
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer" rel="stylesheet">
    <meta charset="utf-8" lang="en">
    <title>Todo's</title>
  </head>

  <body>
    <div class="container">
      <h1>How might we make today productive?</h1>
      <form action="/addTodo" method="post">
        <div class="note">
        <input class="add" type="text" name="description" value="" placeholder="Add a Task!">
        <button class="add" type="submit">Add</button>
      </form>
      <div class="listContainer">
        {{#anyItem}}
          <!-- <h3>Uncompleted Task</h3> -->
          <ul>
            {{#uncompleted}}
              <li>
                <form action="/markComplete" method="post">
                  <label class="item" for="id"></label>
                  <button class="item" type="submit" name="id" value="{{id}}">Check</button> {{description}}
                </form>
              </li>
            {{/uncompleted}}
          </ul>

          <!-- <h3>Completed Tasks</h3> -->
          <div class="completed">
          <ul>
            {{#completed}}
              <li>
                <span>{{description}}</span>
              </li>
            {{/completed}}
          </ul>
        {{/anyItem}}
        {{^anyItem}}
        <h2>What needs to be done?</h2>
        <h2>Add to a task to get the day started!</h2>
        {{/anyItem}}
        </div>
      </div>
      </div>
    </div>
  </body>

</html>
