<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Todo's</title>
  </head>

  <body>

    <div class="loginWrapper">
      <div class="loginContainer">
        <form class="login" action="/loginSubmit" method="post">
          <div class="input">
            <label for="email">email</label>
            <input type="email" name="email" id="email">
          </div>
          <div class="input">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
          </div>
          <div class="input">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword">
          </div>
          <button type="submit" name="button">Sign up</button>
        </form>
  </body>
  </div>
  </div>

</html>
