* {
  list-style: none;
}

body {
  font-family: sans-serif;
  padding-top: 1em;
}

h1 {
  text-align: center;
}

li {
  width: 100%;
}

.listWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  margin: 2em;
}

.listContainer {
  background-color: #666;
  margin: 1em;
  width: 25em;
  text-align: center;
}

.loginWrapper {
  text-align: right;
  display: flex;
  justify-content: center;
  align-content: center;
}


label {
  margin-right: .2em;
}


.input {
  margin: 1em;
}

#btn {
display: flex;
justify-content: center;
}
