* {
  list-style: none;
  font-family: 'IM Fell Great Primer', serif;
}

body {
  font-family: sans-serif;
  padding-top: 1em;
  background-image: url('./todo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  color: #fefffe;
}

h2 {
  margin: 0;
  padding-top: 0.2em;
}

h3 {
  text-align: left;
}

li {
  width: 100%;
  text-align: left;
  /*line-height: 1em;*/
  margin: 1.6em;
}

label {
  margin-right: 0.2em;
}

.container {
  margin: 1em;
  width: 25em;
  text-align: center;
}

.add {
  margin-top: 3em;
}

.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note {
  margin-top: 2em;
  height: 25em;
  background-image: url('./stickyNote.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.loginWrapper {
  text-align: right;
  display: flex;
  justify-content: center;
  align-content: center;
}

.input {
  margin: 0 1em 0 2em;
  padding-left: 2em;
}

.completed {
  text-decoration: line-through;
}

#btn {
  display: flex;
  justify-content: center;
}
