* {
  list-style: none;
}

body {
  font-family: sans-serif;
  padding-top: 1em;
}

.listWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
background-color: red;
margin: 2em;
}

.listContainer {
background-color: blue;
margin: 1em;
width: 25em;
text-align: center;
}
